 {% extends "layout.html" %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sobre </title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon" />
</head>

{% block content %}

<body>
    <section class="bg_body">
        <h1 class="title_enterpraise">
            Rocketseat
        </h1>
        <img class="img_logo" src="/imgs/Twitter Rocket image.jpg" width=" 20% " alt="logo rocketseat">
        <h3 class="description">
            Mais do que uma plataforma de educação em tecnologia, uma comunidade incrível de devs em busca do próximo nível
        </h3>

        <ul class="technologies">
            <li class="javascript"> JavaScript </li>
            <li class="nodejs"> NodeJs </li>
            <li class="reactjs"> ReactJs </li>
            <li class="reactnative"> ReactNative </li>
        </ul>
    </section>

    {% endblock %}


</body>

</html>