{% extends "layout.njk" %} {% block content %}

{% block head %}
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon" />
{% endblock %}


<body class="body_bg_error">

    <h1 class="error_text"> ERRO 404<br> A página solicitada não foi encontrada <br></h1>
    <img class="error_img" src="/imgs/helmet_error.jpg" width=" 190px " height=" 190px " alt="error_img">

</body>
{% endblock %}