{% extends "layout.njk" %} {% block content %}

<body class="body_bg_error">


    <h1 class="error_text"> ERRO 404<br> A página solicitada não foi encontrada <br></h1>
    <img class="error_img" src="/imgs/helmet_error.jpg" width=" 190px " height=" 190px " alt="error_img">


</body>
{% endblock %}